
.DS_Store
.AppleDouble
.LSOverride

xcuserdata/
*.xcuserstate
*.xcscmblueprint

*.xcworkspace/xcuserdata/

*.moved-aside
*.orig

.build/
.swiftpm/

DerivedData/
build/
*.xcarchive

*.swp

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
